DATA STRUCTURE CHECKPOINT ANSWERS

NUMBER 1

In [ ]:
sample_list = [2, 3, 6]
result = 1
for i in sample_list:
    result *= i
print(result)

36

NUMBER 2

In [ ]:
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(sample_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

NUMBER 3

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

result_dict = {key: d1.get(key, 0) + d2.get(key, 0) for key in set(d1) | set(d2)}

print(result_dict)

{'a': 400, 'd': 400, 'c': 300, 'b': 400}

NUMBER 4

In [ ]:
n = 8
result_dict = {i: i*i for i in range(1, n+1)}
print(result_dict)
#

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

NUMBER 5

In [ ]:
lst = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_list = sorted(lst, key=lambda x: float(x[1]), reverse=True)
print(sorted_list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

NUMBER 6A

In [ ]:
lst =[0, 1, 2, 3, 4]
result_set = set(lst)
print(result_set)

{0, 1, 2, 3, 4}

NUMBER 6B

In [ ]:
my_set = {0, 1, 2, 3, 4}
for item in my_set:
    print(item)

0
1
2
3
4

NUMBER 6C

In [ ]:
# Initial set
my_set = {0, 1, 2, 3, 4}

# Add members
my_set.add(5)
my_set.add(6)

# Remove an item (if it exists)
my_set.remove(3)

# Display the updated set
print("Updated Set:", my_set)
#

Updated Set: {0, 1, 2, 4, 5, 6}